<div class="menu">
  <p class="menu-label title is-3">Your Timers</p>
  <ul class="menu-list">
    <li *ngFor="let timer of myTimers; let i = index" [ngClass]="timerToPop(i)">
      <progress class="progress is-warning" value="30" max="100"></progress>
      <p class="menu-label">{{timer.title}}</p>
      <a class="timeDisplay is-primary">
        {{timer.length | time}}
       <div class="overlay" (click)="deleteTimer(timer)"> <span class="icon is-large"> <i class="fa fa-trash"> </i> </span> </div>
      </a>
    </li>
  </ul>
</div>
