<div class="section">
  <div class="columns">
    <article class="column is-2">
      <app-global></app-global>
    </article>
    <article class="column is-5">
      <div class="tabs">
        <ul>
          <li routerLinkActive="is-active" [routerLink]="['time']"><a> <span class="icon is-small"><i class="fa fa-clock-o"></i></span><span>Timer</span></a></li>
          <li routerLinkActive="is-active" [routerLink]="['watch']"><a> <span class="icon is-small"><i class="fa fa-play-circle-o"></i></span><span>Stop Watch</span></a></li>
        </ul>
      </div>
    <router-outlet></router-outlet>
    </article>
    <article class="column is-5">
      <app-all-timers></app-all-timers>
    </article>
  </div>
</div>

